{% load static %}
<html>

<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link type="text/css" rel="stylesheet" href="{% static 'home/css/base.css' %}" />
  {% block head %}
  {% endblock %}
</head>
<body>
  <div id="nav">
    <a href="/home/" id="nav-title"> Social Cops</a>
    <a href="/home/" id="nav-friends"> Friends</a>
    <a href="/movies/" id="nav-movies"> Movies</a>
    <a href="/logout/" id="nav-logout"> Logout</a>
  </div>
  {% block body %}
  {% endblock %}
</body>
